<h1>Liste de Pokémons</h1>
<div class="pokList">
<div *ngFor="let pokemon of pokemonList" >
  <!-- <h2 (click)="selectPokemon(input.value)">{{ pokemon.name }}</h2> -->
  
<wcs-card mode="raised">
    <wcs-card-body pkmnBorderCard (click)="goToPokemon(pokemon)" >
        <img src={{pokemon.picture}} alt="" srcset="">
        <div class="text">
            <h2>{{ pokemon.name }}</h2>
            <p><small>{{pokemon.created | date:"dd/MM/yy"}}</small></p>
            <span *ngFor="let type of pokemon.types" class="{{type |pokemonTypeColor}}">
              {{type}}
            </span>
        </div>
        
    </wcs-card-body>
</wcs-card>
  <h2 ></h2>

</div>
</div>