nav{
    width: 100%;
    text-align: center;
    background-color: aquamarine;
    height: 100px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}