/* .row{
    display: flex;
    justify-content: center;
}
.card-action{
    background-color: aqua;
    border-radius: 11px;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
}

wcs-card{
    padding: 1rem;
    background-color: rgb(186, 254, 232);
} */
